@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto.ttf);
}

@font-face {
    font-family: Orbitron;
    src: url(fonts/Orbitron.ttf);
}

* {
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 18px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-shadow: none;
    text-transform: none;
}

html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html {
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 100%;
}

pre.debug {
    font-size: 14px;
    background: #ffffff;
    color: #000000;
    min-height: 20px;
}

div.clear {
    clear: both;
}

.transition_disabled {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.fs-32{
    font-size: 62px !important;
}

div.sp_wrap {
    width: 100%;
    height: 100%;
    background: #2EC0F2;
    text-align: center;
}

div.sp_info {
    width: 100%;
    min-height: 40px;
    text-align: center;
    font-size: 24px;
    color: #D4F4FF;
}

div.sp_logo {
    width: 100%;
    height: 130px;
    padding: 30px;
    line-height: 70px;
    font-family: Orbitron;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background: transparent;
}

div.sp_links {
    display: inline-block;
    min-height: 30px;
    padding: 30px 0px 30px 0px;
    text-align: center;
    margin: auto;
    vertical-align: top;
}

a.sp_link {
    display: inline-block;
    padding: 15px;
    margin: 10px;
    margin-right: 10px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background: #2EC0F2;
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 5px;
    transition: 0.3s;
}

a.sp_link:hover {
    border-color: #f6ab00;
}

div.sp_wrap_git {
    width: 100%;
    min-height: 50px;
    text-align: center;
    padding: 0px 10px 40px 10px;
}

div.sp_git {
    position: relative;
    display: inline-block;
    min-height: 50px;
    padding: 15px 45px 15px 25px;
    margin: auto;
    border-radius: 5px;
    background: #31303B;
    color: #ffffff;
    word-break: break-all;
}

span#sp_gittext {
    color: #ffffff;
    word-break: break-all;
}

a.sp_support {
    display: block;
    width: 300px;
    height: 60px;
    margin: auto;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-image: linear-gradient(to right top, #ff9000, #fb9e00, #f6ab00, #f1b800, #ebc512);
    text-shadow: 0px 0px 2px rgba(85, 85, 85, 1);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 210, 82, 0);
    box-shadow: 0px 0px 0px 0px rgba(255, 210, 82, 0);
    border-radius: 25px;
    transition: 0.3s;
}

a.sp_support:hover {
    -webkit-box-shadow: 0px 0px 25px 6px rgba(255, 210, 82, 0.68);
    box-shadow: 0px 0px 25px 6px rgba(255, 210, 82, 0.68);
}

a.sp_copy {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 30px;
    height: 30px;
    background: url(/images/default/copy.png) no-repeat;
    background-size: 30px;
}

div#sp_copy_status {
    width: 100%;
    height: 30px;
    color: #ffffff;
    text-shadow: 0px 0px 2px rgba(85, 85, 85, 1);
    opacity: 0;
    transition: 0.5s;
}

div.sp_langs {
    width: 100%;
    min-height: 40px;
    text-align: center;
    margin-top: 30px;
}

a.sp_link_lang {
    color: #ffffff;
    text-decoration: none;
    margin: 5px 10px 5px 10px;
}
a.sp_link_lang:hover {
    text-decoration: underline;
}